# Build directories
build/
out/
builddir/
builddir_cross/
subprojects/*
!subprojects/*.wrap

# Meson
meson-logs/
meson-private/
meson-info/
.mesonpy/

# Compiled binaries and libraries
*.a
*.so
*.so.*
*.dylib
*.o
*.obj
*.lo
*.la
*.pch

# macOS
.DS_Store
.AppleDouble
.LSOverrideCompatible
__MACOSX/
.AppleDB
.AppleDesktop
.Spotlight-V100
.Trashes
._*

# Editor/IDE
.idea/
*.swp
*.swo
*~
.clangd/
# Unfortunately, VSCode's code workspaces are pretty annoying...
# Settings are being overwritten weirdly. And in general having
# to create an entirely new workspace just when adding a folder
# to the editor is quite frustrating...
# Especially since only a single VSCode instance is apparently 
# intended to be run per container.
.vscode/*.code-workspace
